body {
  font-family: 'Roboto Slab', sans-serif;
  width: 80%;
  margin: 2.0rem auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 5.0rem;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1.0rem;
}

.canvas {
  border: 10px solid #bdc3c7;
  margin: auto;
}
